.file {
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__title {
    user-select: none;
  }

  &__edit {
    position: absolute;
    left: 90%;
    cursor: pointer;
    display: none;
    img {
      width: 20px;
      height: 20px;
    }
  }


  &:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  &:hover &__edit {
    display: block;
  }

  &__icon {
    width: 100px;
    height: 100px;
  }
}